{% extends "base.html" %}

{% block content %}
<h1>Blogs</h1>


    {% for blog in blogs.items %}
        
        <h1>
            <a href="/blog?id={{ blog.id }}">{{ blog.title }}</a></h1>
            <h3>{{ blog.content }}</h3>
            <h4>Written by: <a href="/blog?owner={{ blog.owner_id }}"> {{blog.owner}}</a></h4>
            
        
            
        
    {% endfor %}
    {% for page_num in blogs.iter_pages(left_edge=1,right_edge=1, left_current=1,right_current=2) %}
            {% if page_num %}
                <a href="{{url_for('blog', page=page_num) }}">{{ page_num}}</a>
            {% else %}
            ...
            {% endif %}
    {% endfor %}


    
{% endblock %}

